name: lint-ios

on:
  pull_request:
    branches: [master]
    paths:
      - "packages/mobile/ios/**"
      - "packages/fabricMobile/ios/**"
      - "packages/react-native-avoid-softinput/ios/**"
      - ".github/workflows/lint-ios.yml"

jobs:
  lint-ios:
    name: Lint Swift
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install modules
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
          registry-url: "https://registry.npmjs.org"
          cache-dependency-path: "**/yarn.lock"
      - run: yarn
      - name: SwiftLint
        run: |
          #!/bin/bash
          if !command -v swiftlint &> /dev/null
          then
            echo "SwiftLint is not installed. Installing"
            brew install swiftlint
          fi
          yarn lint:ios:swift
      - name: ClangFormat
        run: |
          #!/bin/bash
          if !command -v clang-format &> /dev/null
          then
            echo "ClangFormat is not installed. Installing"
            brew install clang-format
          fi
          yarn lint:ios:objc --Werror
