name: lint-ios

on:
  pull_request:
    branches: [main]
    paths:
      - "packages/react-native-avoid-softinput/ios/**"
      - ".github/workflows/lint-ios.yml"

jobs:
  lint-ios:
    name: Lint ObjC
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install modules
        uses: actions/setup-node@v4
        with:
          cache: "yarn"
          registry-url: "https://registry.npmjs.org"
          cache-dependency-path: "**/yarn.lock"
      - run: yarn
      - run: yarn install:pods
      - name: ClangFormat
        run: |
          #!/bin/bash
          if ! command -v clang-format &> /dev/null
          then
            echo "ClangFormat is not installed. Installing"
            brew install clang-format
          fi
          yarn format:ios:objc
